<div class="banner">
  <div class="banner-container">
    <div class="banner-text-container">
      <div class="banner-title" id="banner-typed-text"></div>
    </div>
    <%= link_to cocktails_path do %>
      <button class="btn-home">Here it is</button>
    <% end %>
  </div>
</div>