.banner {
  height: 100vh;
  width: 100vw;
  background-image: asset-url("banner.jpg");
  background-position: center;
  background-size: cover;
  padding: 100px;
}

.banner-text-container {
  height: 150px;
}

.banner-title {
  font-size: 72px;
  font-family: Lobster;
  color: $my-white;
}

.banner-subtitle {
  font-size: 48px;
  font-family: Lobster;
  color: $light-gray;
}

.typed-cursor {
  visibility: hidden;
}

@media (max-width: 520px) {
  .banner-title {
    font-size: 48px;
  }
  .banner-subtitle {
    font-size: 48px;
  }
  .banner {
    padding: 50px;
    background-position: left;
  }
}