.banner {
  height: 100vh;
  background-image: url("banner.jpg");
  background-position: center;
  background-size: cover;
  padding: 100px;
}

.banner-text-container {
  height: 150px;
}

.banner-title {
  font-size: 72px;
  font-family: Lobster;
  color: $my-white;
  width: 500px;
}

.banner-subtitle {
  font-size: 48px;
  font-family: Lobster;
  color: $light-gray;
}